<%- include('../layouts/header.ejs'); -%>
    
    <h1>Welcome to Ultra Deulex FanGirl Pages</h1>

    <div class="row sup">
        <h4>Things that you will get</h4>
        <div class="col-5 supb">

            <p>Chat with popular Celeberity Indian girls</p>
            <p>Chat with popular Celeberity Instagram girls</p>
            <p>Chat with popular Celeberity Youtuber girls</p>
            <p>Change of increase your Influence</p>
        </div>
        <div class="col-md-4">

            <img src="https://images.unsplash.com/photo-1429277005502-eed8e872fe52?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
                alt="hornygirl" style="height: 200px;width: 400px;" />
        </div>
        <div>
            <h1>Start Chatiing now!!</h1>
            <!-- TODO:NOW I NEED TO MAKE SUPERMODALS -->
            <div class="row">

                <div class="col-md-3">
                    <ul class="list-group">
                        <% if(Susers.length> 0){
                            for(let i=0;i<Susers.length;i++){ %>
                                <li class="list-group-item list-group-item-dark cursor-pointer user-list-ud"
                                    data-id="<%=Susers[i]['_id'] %>">
                                    <img src="<%= 'http://localhost:9999/'+Susers[i]['image'] %>" alt="userpic"
                                        width="50" height="50">
                                    <%= Susers[i]['name'] %>
                                        <% if(Susers[i]['is_online']==1){ %>
                                            <sub class="online-status" id="<%= Susers[i]['_id'] %>-status">online</sub>
                                            <% }else{ %>
                                                <sub class="offline-status"
                                                    id="<%= Susers[i]['_id'] %>-status">offline</sub>
                                                <% } %>
                                </li>
                                <% } } %>
                    </ul>
                </div>

                <div class="col-md-9">
                    <h3 class="start-head-ud"> Click to Start the Chat </h3>
                    <div class="chat-section-ud">
                        <div id="chat-container-ud">

                        </div>
                        <form action="" id="chat-form-ud">
                            <input type="text" name="message" placeholder="Enter Message" id="message-ud" class="border"
                                required>
                            <input type="submit" value="Send Message" class="btn btn-primary">
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="deletemessageChat-ud" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete message</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="" id="delete-message-form-ud">
                            <div class="modal-body">
                                <input type="hidden" name="id" id="delete-message-id-ud">
                                <p>Are you sure you want to delete the message?</p>
                                <p id="delete-message-ud"> <b></b></p>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="updatemessageChat-ud" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Update message</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form id="edit-message-form-ud">
                            <div class="modal-body">
                                <input type="hidden" name="id" id="edit-message-id-ud">
                                <input type="text" name="message" id="update-message-id-ud">
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- END OF THE CHAT -->
        </div>
    </div>

    </div>

 <%- include('../layouts/footer.ejs'); -%>



