<%- include('layouts/header.ejs'); -%>

    <h2 class="mb-4">Hi, <%= user.name %>
    </h2>

    <div class="row">

        <div class="col-md-3">
            <ul class="list-group">
                <% if(users.length> 0){
                    for(let i=0;i<users.length;i++){ %>
                        <li class="list-group-item list-group-item-dark cursor-pointer user-list"
                            data-id="<%=users[i]['_id'] %>">
                            <img src="<%= 'http://localhost:9999/'+users[i]['image'] %>" alt="userpic" width="50"
                                height="50">
                            <%= users[i]['name'] %>
                                <% if(users[i]['is_online']==1){ %>
                                    <sub class="online-status" id="<%= users[i]['_id'] %>-status">online</sub>
                                    <% }else{ %>
                                        <sub class="offline-status" id="<%= users[i]['_id'] %>-status">offline</sub>
                                        <% } %>
                        </li>
                        <% } } %>
            </ul>
        </div>

        <div class="col-md-9">
            <h3 class="start-head"> Click to Start the Chat </h3>
            <div class="chat-section">
                <div id="chat-container">

                </div>
                <form action="" id="chat-form">
                    <input type="text" name="message" placeholder="Enter Message" id="message" I class="border"
                        required>
                    <input type="submit" value="Send Message" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade" id="deletemessageChat" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete message</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="" id="delete-message-form">
                    <div class="modal-body">
                        <input type="hidden" name="id" id="delete-message-id">
                        <p>Are you sure you want to delete the message?</p>
                        <p id="delete-message"> <b></b></p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updatemessageChat" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update message</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form  id="edit-message-form">
                    <div class="modal-body">
                        <input type="hidden" name="id" id="edit-message-id">
                        <input type="text" name="message" id="update-message-id">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    


    <%- include('layouts/footer.ejs'); -%>